/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 16px;
  max-width: 1440px;
}

.input-search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

input:hover {
  border: 1px solid #000000;
}

button {
  font-family: inherit;
  border: none;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-left: 4px;
}

button:hover {
  background-color: #6c8cff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 8px;
  overflow: hidden;
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
}

.gallery-image {
  object-fit: cover;
}

.gallery-image:hover {
  cursor: zoom-in;
}

.gallery-item:hover {
  transform: scale(1.04);
  transition: transform 250ms ease-in-out;
}

.parameters-block {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-top: 2px;
}

.parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.48px;
  color: #2e2f42;
}

.amount {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.48px;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[data-load] {
  width: 125px;
  margin-top: 32px;
}
